In [16]:
import pandas as pd
import psycopg2
from psycopg2.extras import execute_values

In [17]:
df1 = pd.read_csv("clase_1.csv",sep=';')
df2 = pd.read_csv("clase_2.csv",sep=';')
df3 = pd.read_csv("clase_3.csv",sep=';')
df4 = pd.read_csv("clase_4.csv",sep=';')
df5 = pd.read_csv("claustro.csv",sep=';')

In [18]:
df1.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto

In [19]:
df1.columns = df1.columns.str.strip()  # Elimina espacios en los nombres
df1.columns = df1.columns.str.replace(" ", "_")  # Sustituye espacios por guiones bajos
df2.columns = df2.columns.str.strip()  # Elimina espacios en los nombres
df2.columns = df2.columns.str.replace(" ", "_")  # Sustituye espacios por guiones bajos
df3.columns = df3.columns.str.strip()  # Elimina espacios en los nombres
df3.columns = df3.columns.str.replace(" ", "_")  # Sustituye espacios por guiones bajos
df4.columns = df4.columns.str.strip()  # Elimina espacios en los nombres
df4.columns = df4.columns.str.replace(" ", "_")  # Sustituye espacios por guiones bajos
df5.columns = df5.columns.str.strip()  # Elimina espacios en los nombres
df5.columns = df5.columns.str.replace(" ", "_")  # Sustituye espacios por guiones bajos

In [ ]:
#ALUMNOS
dfalumnos1 = df1[["Nombre", "Email", "Fecha_comienzo"]]
dfalumnos2 = df2[["Nombre", "Email", "Fecha_comienzo"]]
dfalumnos3 = df3[["Nombre", "Email", "Fecha_comienzo"]]
dfalumnos4 = df4[["Nombre", "Email", "Fecha_comienzo"]]

dfpromocion1 = df1[["Promoción"]]
dfpromocion2 = df2[["Promoción"]]
dfpromocion3 = df3[["Promoción"]]
dfpromocion4 = df4[["Promoción"]]


dfalumnos1["Fecha_comienzo"] = pd.to_datetime(dfalumnos1["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")
dfalumnos2["Fecha_comienzo"] = pd.to_datetime(dfalumnos2["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")
dfalumnos3["Fecha_comienzo"] = pd.to_datetime(dfalumnos3["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")
dfalumnos4["Fecha_comienzo"] = pd.to_datetime(dfalumnos4["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")

dfalumnos = pd.concat([dfalumnos1,dfalumnos2,dfalumnos3,dfalumnos4], ignore_index= True)
dfpromocion = pd.concat([dfpromocion1,dfpromocion2,dfpromocion3,dfpromocion4], ignore_index= True)

#NOTAS
dfnota1= df1[["Proyecto_HLF", "Proyecto_EDA", "Proyecto_BBDD", "Proyecto_ML", "Proyecto_Deployment"]]
dfnota2= df2[["Proyecto_HLF", "Proyecto_EDA", "Proyecto_BBDD", "Proyecto_ML", "Proyecto_Deployment"]]
dfnota3= df3[["Proyecto_WebDev", "Proyecto_FrontEnd", "Proyecto_Backend", "Proyecto_React", "Proyecto_FullSatck"]]
dfnota4= df4[["Proyecto_WebDev", "Proyecto_FrontEnd", "Proyecto_Backend", "Proyecto_React", "Proyecto_FullSatck"]]

dfnotas = pd.concat([dfnota1,dfnota2,dfnota3,dfnota4], ignore_index= True)

#MODALIDAD
dfmodalidad = df5[["Modalidad"]]

#CLAUSTRO
dfclaustro = df5[["Nombre", "Rol"]]

#CLASES
#presencial=1
#online= 2
#madrid = 1
#valencia= 2
#sept=1
#feb=2

C:\Users\nerea\AppData\Local\Temp\ipykernel_17372\2860822078.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfalumnos1["Fecha_comienzo"] = pd.to_datetime(dfalumnos1["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")
C:\Users\nerea\AppData\Local\Temp\ipykernel_17372\2860822078.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfalumnos2["Fecha_comienzo"] = pd.to_datetime(dfalumnos2["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")
C:\Users\nerea\AppData\Local\Temp\ipykernel_17372\2860822078.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfalumnos3["Fecha_comienzo"] = pd.to_datetime(dfalumnos3["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")
C:\Users\nerea\AppData\Local\Temp\ipykernel_17372\2860822078.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfalumnos4["Fecha_comienzo"] = pd.to_datetime(dfalumnos4["Fecha_comienzo"], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")

In [21]:
dfalumnos

                  Nombre                           Email Fecha_comienzo
0           Jafet Casals          Jafet_Casals@gmail.com     2023-09-18
1       Jorge Manzanares      Jorge_Manzanares@gmail.com     2023-09-18
2          Onofre Adadia         Onofre_Adadia@gmail.com     2023-09-18
3           Merche Prada          Merche_Prada@gmail.com     2023-09-18
4           Pilar Abella          Pilar_Abella@gmail.com     2023-09-18
5           Leoncio Tena          Leoncio_Tena@gmail.com     2023-09-18
6        Odalys Torrijos       Odalys_Torrijos@gmail.com     2023-09-18
7       Eduardo Caparrós      Eduardo_Caparrós@gmail.com     2023-09-18
8     Ignacio Goicoechea    Ignacio_Goicoechea@gmail.com     2023-09-18
9      Clementina Santos     Clementina_Santos@gmail.com     2023-09-18
10         Daniela Falcó         Daniela_Falcó@gmail.com     2023-09-18
11         Abraham Vélez         Abraham_Vélez@gmail.com     2023-09-18
12  Maximiliano Menéndez  Maximiliano_Menéndez@gmail.com     2023-09-18
13         Anita Heredia         Anita_Heredia@gmail.com     2023-09-18
14             Eli Casas             Eli_Casas@gmail.com     2023-09-18
15     Guillermo Borrego     Guillermo_Borrego@gmail.com     2024-02-12
16        Sergio Aguirre        Sergio_Aguirre@gmail.com     2024-02-12
17       Carlito Carrión       Carlito_Carrión@gmail.com     2024-02-12
18       Haydée Figueroa       Haydée_Figueroa@gmail.com     2024-02-12
19         Chita Mancebo         Chita_Mancebo@gmail.com     2024-02-12
20      Joaquina Asensio      Joaquina_Asensio@gmail.com     2024-02-12
21      Cristian Sarabia      Cristian_Sarabia@gmail.com     2024-02-12
22         Isabel Ibáñez         Isabel_Ibáñez@gmail.com     2024-02-12
23       Desiderio Jordá       Desiderio_Jordá@gmail.com     2024-02-12
24       Rosalina Llanos       Rosalina_Llanos@gmail.com     2024-02-12
25        Amor Larrañaga        Amor_Larrañaga@gmail.com     2023-09-18
26      Teodoro Alberola      Teodoro_Alberola@gmail.com     2023-09-18
27           Cleto Plana           Cleto_Plana@gmail.com     2023-09-18
28      Aitana Sebastián      Aitana_Sebastián@gmail.com     2023-09-18
29      Dolores Valbuena      Dolores_Valbuena@gmail.com     2023-09-18
30          Julie Ferrer          Julie_Ferrer@gmail.com     2023-09-18
31        Mireia Cabañas        Mireia_Cabañas@gmail.com     2023-09-18
32         Flavia Amador         Flavia_Amador@gmail.com     2023-09-18
33         Albino Macias         Albino_Macias@gmail.com     2023-09-18
34         Ester Sánchez         Ester_Sánchez@gmail.com     2023-09-18
35    Luis Miguel Galvez    Luis_Miguel_Galvez@gmail.com     2023-09-18
36        Loida Arellano        Loida_Arellano@gmail.com     2023-09-18
37        Heraclio Duque        Heraclio_Duque@gmail.com     2023-09-18
38     Herberto Figueras     Herberto_Figueras@gmail.com     2023-09-18
39         Teresa Laguna         Teresa_Laguna@gmail.com     2024-02-12
40      Estrella Murillo      Estrella_Murillo@gmail.com     2024-02-12
41       Ernesto Uriarte       Ernesto_Uriarte@gmail.com     2024-02-12
42       Daniela Guitart       Daniela_Guitart@gmail.com     2024-02-12
43        Timoteo Trillo        Timoteo_Trillo@gmail.com     2024-02-12
44         Ricarda Tovar         Ricarda_Tovar@gmail.com     2024-02-12
45   Alejandra Vilaplana   Alejandra_Vilaplana@gmail.com     2024-02-12
46       Daniel Rosselló       Daniel_Rosselló@gmail.com     2024-02-12
47         Rita Olivares         Rita_Olivares@gmail.com     2024-02-12
48          Cleto Montes          Cleto_Montes@gmail.com     2024-02-12
49       Marino Castilla       Marino_Castilla@gmail.com     2024-02-12
50   Estefanía Valcárcel   Estefanía_Valcárcel@gmail.com     2024-02-12
51        Noemí Vilanova        Noemí_Vilanova@gmail.com     2024-02-12

In [22]:
dfpromocion

     Promoción
0   Septiembre
1   Septiembre
2   Septiembre
3   Septiembre
4   Septiembre
5   Septiembre
6   Septiembre
7   Septiembre
8   Septiembre
9   Septiembre
10  Septiembre
11  Septiembre
12  Septiembre
13  Septiembre
14  Septiembre
15     Febrero
16     Febrero
17     Febrero
18     Febrero
19     Febrero
20     Febrero
21     Febrero
22     Febrero
23     Febrero
24     Febrero
25  Septiembre
26  Septiembre
27  Septiembre
28  Septiembre
29  Septiembre
30  Septiembre
31  Septiembre
32  Septiembre
33  Septiembre
34  Septiembre
35  Septiembre
36  Septiembre
37  Septiembre
38  Septiembre
39     Febrero
40     Febrero
41     Febrero
42     Febrero
43     Febrero
44     Febrero
45     Febrero
46     Febrero
47     Febrero
48     Febrero
49     Febrero
50     Febrero
51     Febrero

In [23]:
dfnotas

,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
2,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
3,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
4,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
5,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
6,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
7,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
8,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
9,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
10,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
11,Apto,No Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
12,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
13,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
14,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
15,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
16,Apto,No Apto,Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
17,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
18,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
19,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
20,No Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
21,Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
22,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
23,No Apto,Apto,No Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
24,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
26,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,Apto
27,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
28,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
29,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
30,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,No Apto
31,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
32,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
33,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
34,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,No Apto,Apto
35,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
36,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
37,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,No Apto
38,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
39,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
40,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
41,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
42,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto
43,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,No Apto
44,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
45,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
46,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
47,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
48,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
49,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
50,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,Apto
51,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto

In [24]:
dfmodalidad

    Modalidad
0  Presencial
1  Presencial
2  Presencial
3  Presencial
4  Presencial
5  Presencial
6  Presencial
7      Online
8      Online
9      Online

In [27]:
dfclaustro

               Nombre Rol
0           Noa Yáñez  TA
1   Saturnina Benitez  TA
2          Anna Feliu  TA
3       Rosalva Ayuso  TA
4    Ana Sofía Ferrer  TA
5     Angélica Corral  TA
6         Ariel Lledó  TA
7         Mario Prats  LI
8   Luis Ángel Suárez  LI
9  María Dolores Diaz  LI

In [ ]:
# Conectar a la base de datos
conn = psycopg2.connect(
    dbname="prueba_vitoria_tj76",
    user="prueba_vitoria_tj76_user",
    password="MiYx9YTBT7QvjEla235DuEfTBP8QxNpf",
    host="dpg-d10ni263jp1c73967r9g-a.frankfurt-postgres.render.com",
    port="5432"
)
cursor = conn.cursor()


"""# Insertar datos en la tabla 'Alumno' usando execute_values para mayor eficiencia
query1 = "INSERT INTO Alumnos ( Nombre, Email, Fecha_Comienzo) VALUES %s"
execute_values(cursor, query, dfalumnos.values.tolist())

#Inserta en promocion 

query2 = "INSERT INTO promocion ( nombre_promocion) VALUES %s"
execute_values(cursor, query, dfpromocion.values.tolist())

#Inserta en notas
# FALLO!!!!!!!!!!!! hemos metido las columnas que no son, arreglar al final

query3 = "INSERT INTO notas ( Proyecto_HLF, Proyecto_EDA, Proyecto_BBDD, Proyecto_ML, Proyecto_Deployment, Proyecto_WebDev, Proyecto_FrontEnd, Proyecto_Backend, Proyecto_React, Proyecto_FullSatck) VALUES %s"
execute_values(cursor, query3, dfnotas.values.tolist())

# Insertar datos en la tabla 'Modalidad' usando execute_values para mayor eficiencia
query4 = "INSERT INTO modalidad ( nombre_modalidad) VALUES %s"
execute_values(cursor, query4, dfmodalidad.values.tolist())"""

# Insertar datos en la tabla 'Claustro' usando execute_values para mayor eficiencia
query5 = "INSERT INTO claustro ( nombre, rol) VALUES %s"
execute_values(cursor, query5, dfclaustro.values.tolist())

query5 = "INSERT INTO clase ( nombre_clase, id_modalidad,id_campus, id_promocion) VALUES %s"
execute_values(cursor, query5, dfclaustro.values.tolist())

'''Pego la consulta para rellenar campus
#INSERT INTO campus (nombre_campus)
#VALUES 
#('Madrid'),
#('Valencia');
#INSERT INTO promocion (nombre_promocion)
#VALUES 
#('Septiembre'),
#('Febrero');
#INSERT INTO modalidad (nombre_modalidad)
#VALUES 
#('Presencial'),
#('Online');
#INSERT INTO clase (id_clase, nombre_clase, id_modalidad, id_campus, id_promocion)
#VALUES 
#(1,'Clase 1', 1, 1, 1),
#(2,'Clase 2', 1, 1, 2),
#(3,'Clase 3', 1, 1, 1),
#(4,'Clase 4', 2, 2, 2);
INSERT INTO claustro_clase (id_profesor, id_clase) VALUES
(1, 1),
(2, 1),
(3, 3),
(4, 4),
(5, 4),
(6, 2),
(7, 1),
(8, 4),
(9, 3),
(10, 1);
INSERT INTO alumno_clase (id_alumno, id_clase) VALUES
(77, 1), (78, 1), (79, 1), (80, 1), (81, 1),
(82, 1), (83, 1), (84, 1), (85, 1), (86, 1),
(87, 1), (88, 1), (89, 1), (90, 1), (91, 1), -- 15 alumnos en clase 1

(92, 2), (93, 2), (94, 2), (95, 2), (96, 2),
(97, 2), (98, 2), (99, 2), (100, 2), (101, 2), -- 10 alumnos en clase 2

(102, 3), (103, 3), (104, 3), (105, 3), (106, 3),
(107, 3), (108, 3), (109, 3), (110, 3), (111, 3),
(112, 3), (113, 3), (114, 3), (115, 3), -- 14 alumnos en clase 3

(116, 4), (117, 4), (118, 4), (119, 4), (120, 4),
(121, 4), (122, 4), (123, 4), (124, 4), (125, 4),
(126, 4), (127, 4), (128, 4); -- 13 alumnos en clase 4
'''
# Confirmar cambios y cerrar conexión
conn.commit()
cursor.close()
conn.close()